body {
  margin: 0;
  background-image: url(sketch.png);
  background-size: calc(max(50vw, 400px));
  background-repeat: repeat;
}

.head-background {
  width: 100%;
  height: 30dvh;
  margin-bottom: 10dvh;
  position: relative;
  background-image: url(background.png);
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-background::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
}

.head-title {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 56px;
  font-weight: bold;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  margin-bottom: 2px;
}

td {
  font-size: 16px;
  text-align: center;
  border: 1px solid;
}

td img {
  max-width: 256px;
  max-height: 256px;
  width: 20vw;
  height: 20vw;
}

h1 {
  text-align: center;
  font-size: 2.0em;
  color: #1b3a4b;
}

h2 {
  text-align: center;
  font-size: 1.7em;
  color: #2c5871;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  color: #3b7a89;
}

h4 {
  text-align: center;
  font-size: 1.3em;
  color: #518c7c;
}

h5 {
  text-align: center;
  font-size: 1.1em;
  color: #9a7d46;
}

h6 {
  text-align: center;
  font-size: 1.0em;
  color: #a38f7b;
}

/* メイン画像 */
.img-switcher-main img {
  inline-size: 90%;
  object-fit: contain;
  border-radius: 20px;
  transition: opacity .4s cubic-bezier(.25, 1, .5, 1);
}

/* サムネイルのエリア */
.img-switcher-thumb {
  display: flex;
  gap: 0 1.5rem;
  margin-block-start: 2rem;
  overflow-x: scroll;
}

/* サムネイルの各ボタン */
.img-switcher-btn {
  flex-shrink: 0;
  inline-size: 10rem;
  overflow: hidden;
  border-radius: 20px;
  position: relative;

  &::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 10;
    transition: background-color .4s;
  }

  &:focus-visible::before {
    background-color: var(--overlay-color);
  }

  img {
    object-fit: cover;
  }
}

@media (any-hover: hover) {
  .img-switcher-btn:hover::before {
    background-color: var(--overlay-color);
  }
}

/* is_activeクラスが付与されたら、サムネイルに半透明の黒背景を適用 */
.img-switcher-btn.is_active::before {
  background-color: var(--overlay-color);
}